.table{background-color: red;}
.th{forced-color-adjust: aqua;}
.header{background-color: blue; font-size: xx-large;}
.footer{font-style: italic;font-size: larger;
}
.name{color: brown;font-size: medium;
}